<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to the Blog application</h1>

  <a href="/users/login">
    <button>login</button>
  </a>

  <a href="/users/register">
    <button>sign up</button>
  </a>

  <a href="/users/login">
    <button>Go to Articles</button>
  </a>
</body>

</html>