<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to home page</h1>

  <a href="/users/login">
    <button>
      login
    </button>
  </a>
  <a href="/users/register">
    <button>
      register
    </button>
  </a>
</body>

</html>