<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register</h1>
    <a href="/">
        <button>
            Home
        </button>
    </a>

    <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="Enter your Name" id="">
        <input type="text" name="email" placeholder="Enter your email" id="">
        <input type="password" name="password" placeholder="Enter your password" id="">
        <input type="submit" name="submit" value="Register" id="">
    </form>
</body>

</html>