<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login success</h1>
    <a href="/users/login">
        <button>
            Go to Log in
        </button>
    </a>
    <a href="/users/register">
        <button>
            Go to Register
        </button></a>

    <a href="/users/logout">
        <button>
            Logout
        </button>
    </a>
</body>

</html>