body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.article {
  margin: 1rem;
  font-size: 1.8rem;
  display: block;
}

.image {
  width: 280px;
}
