<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to the Product application</h1>

  <a href="/admin/login">
    <button>login</button>
  </a>

  <a href="/admin/register">
    <button>sign up</button>
  </a>

  <a href="/products  ">
    <button>Go to Products</button>
  </a>
</body>

</html>