<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/products/admin-product" method="POST">
        <input type="text" name="name" placeholder="Enter product name" id="">
        <input type="text" name="quantity" placeholder="Enter product Quantity" id="">
        <input type="text" name="price" placeholder="Enter product price" id="">
        <input type="text" name="image" placeholder="Enter product image Url" id="">
        <input type="submit" name="submit" value="Add product" id="">
    </form>
</body>

</html>