<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>List of products</h1>

    <!-- <a href="/admin/login">
        <button>Add Product</button>
    </a>

    <a href="/">
        <button>Home</button>
    </a> -->

    <a href="/">
        <button>logout</button>
    </a>

    <% products.forEach(product=> { %>
        <a class="article" href="/products/<%= product.slug  %>/user-single-product ">
            <%= product.name %>
        </a>

        <% }) %>
</body>

</html>